<h1>xD</h1>

{% schema %}
  {
    "name": "Headero",
    "class": "headero",
    "settings": [

      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 12,
        "min": 12,
        "max": 800,
        "step": 4


      }
    ],
    "presets": [
      {
        "name": "seccion nueva"
      }
    ]
  }
{% endschema %}