<h1>xD</h1>

{% schema %}
  {
    "name": "Headero",
    "tag": "header",
    "class": "header",
    "settings": [

      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 1200,
        "min": 10,
        "max": 300,
        "step": 5


      }
    ]
  }
{% endschema %}