{% for block in section.blocks %}
  {% if block.settings.imageno %}
    <img src="{{ block.settings.imageno | img_url: 'large' }}" alt="Custom Image">
  {% endif %}
  <button>
    <p>{{ block.settings.textoB }}</p>
  </button>

{% endfor %}


{% schema %}
  {
    "name": "Bienvenida",
    "class": "inicioPag",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 12,
        "min": 8,
        "max": 64,
        "step": 1
      }
    ],
    "presets": [
      {
        "name": "GRID BUTTN-IMGS"
      }
    ],
    "blocks": [
      {
        "name": "BotonImg",
        "type": "ui",
        "settings": [
          {
            "type": "image_picker",
            "id": "imageno",
            "label": "upload ima"
          }, {

            "type": "text",
            "id": "textoB",
            "label": "Texto Button"
          }
        ]
      }
    ]
  }
{% endschema %}