<h1>xD</h1>

{% schema %}
  {
    "name": "Bienvenida",
    "class": "inicioPag",
    "settings": [

      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 12,
        "min": 8,
        "max": 64,
        "step": 1
      }
    ],
    "presets": [
      {
        "name": "GRID BUTTN-IMGS"
      }
    ]
  }
{% endschema %}