{% style %}

  .custom-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .custom-button {
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* Adjust for pill or square shape */
    cursor: pointer;
    text-align: center;
  }

  .custom-button p {
    margin: 0;
  }

  .custom-button:hover {
    background-color: #0056b3;
  }
{% endstyle %}


{% for block in section.blocks %}
  {% if block.settings.imageno %}
    <img
      class="custom-image"
      src="{{ block.settings.imageno | img_url: 'large' }}"
      alt="Custom Image">
  {% endif %}
  <button class="custom-button" style="background-color: {{ block.settings.button_bg_color }}; color: {{ block.settings.button_text_color }};">
    <p>{{ block.settings.textoB }}</p>
  </button>

{% endfor %}


{% schema %}
  {
    "name": "Bienvenida",
    "class": "inicioPag",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 12,
        "min": 8,
        "max": 64,
        "step": 1
      }
    ],
    "presets": [
      {
        "name": "GRID BUTTN-IMGS"
      }
    ],
    "blocks": [
      {
        "name": "BotonImg",
        "type": "ui",
        "settings": [
          {
            "type": "image_picker",
            "id": "imageno",
            "label": "upload ima"
          }, {

            "type": "text",
            "id": "textoB",
            "label": "Texto Button"
          }, {
            "type": "color",
            "id": "button_bg_color",
            "label": "Button Background Color",
            "default": "#007bff"
          }, {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#ffffff"
          }
        ]
      }
    ]
  }
{% endschema %}