{% for block in section.blocks %}

  <button>
    <p>{{ block.settings.text }}</p>
  </button>

{% endfor %}


{% schema %}
  {
    "name": "Bienvenida",
    "class": "inicioPag",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 12,
        "min": 8,
        "max": 64,
        "step": 1
      }
    ],
    "presets": [
      {
        "name": "GRID BUTTN-IMGS"
      }
    ],
    "blocks": [
      {
        "name": "BotonImg",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "textoBoton",
            "label": "texto Button"
          }
        ]
      }
    ]
  }
{% endschema %}